@font-face {
  font-family: "wosker";
  src: url("/fonts/wosker.otf") format("opentype"); /* Correct URL path */
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: linear-gradient(45deg, #f54b64, #f78361);
  --dark: #130f00;
  --text: #e9e9e9;
}
body {
  color: var(--text);
  overflow-x: hidden;
}
h1 {
  font-family: "wosker";
  font-size: clamp(2rem, 4vw + 1rem, 6rem);
}
p {
  font-family: "";
}

.bg-brand {
  background: var(--primary);
}

.bg-dark {
  background: var(--dark);
}

.text {
  color: var(--text);
}
